@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  body * {
    visibility: hidden;
  }

  #invoice-content,
  #invoice-content * {
    visibility: visible;
  }

  #invoice-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    padding: 10mm;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }
}